<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>Utilities.swift</string>
		<string>Model.swift</string>
		<string>Operators.swift</string>
		<string>SeparatorLayout.swift</string>
		<string>ViewControllerCommons.swift</string>
		<string>Router+Preview.swift</string>
		<string>ViewModelFactory.swift</string>
		<string>ViewFactory.swift</string>
		<string>Podfile</string>
		<string>Router.swift</string>
		<string>Info.plist</string>
		<string>AppDelegate.swift</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Definitions</key>
	<dict>
		<key>Operators.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>Operators.swift</string>
			<key>SortOrder</key>
			<integer>72</integer>
		</dict>
		<key>SeparatorLayout.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>SeparatorLayout.swift</string>
			<key>SortOrder</key>
			<integer>75</integer>
		</dict>
		<key>Model.swift</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>SortOrder</key>
			<integer>10</integer>
		</dict>
		<key>ViewModelFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factory</string>
			<key>Path</key>
			<string>ViewModelFactory.swift</string>
			<key>SortOrder</key>
			<integer>20</integer>
		</dict>
		<key>ViewFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factory</string>
			<key>Path</key>
			<string>ViewFactory.swift</string>
			<key>SortOrder</key>
			<integer>21</integer>
		</dict>
		<key>Utilities.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>Utilities.swift</string>
			<key>SortOrder</key>
			<integer>70</integer>
		</dict>
		<key>Router.swift</key>
		<dict>
			<key>Group</key>
			<string>Router</string>
			<key>Path</key>
			<string>Router.swift</string>
			<key>SortOrder</key>
			<integer>30</integer>
		</dict>
		<key>Router+Preview.swift</key>
		<dict>
			<key>Group</key>
			<string>Router</string>
			<key>Path</key>
			<string>Router+Preview.swift</string>
			<key>SortOrder</key>
			<integer>31</integer>
		</dict>
		<key>ViewControllerCommons.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>100</string>
			<key>Path</key>
			<string>ViewControllerCommons.swift</string>
			<key>Group</key>
			<string>ViewControllers</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
