<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>WithPodfile</string>
			<key>Name</key>
			<string>Include Podfile</string>
			<key>Description</key>
			<string>Adds standard Podfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:pod</key>
						<string># Uncomment the next line to define a global platform for your project
 platform :ios, &apos;9.0&apos;

def shared_pods
    use_frameworks!
    pod &apos;RxSwift&apos;
    pod &apos;Boomerang&apos;, :git =&gt; &quot;https://github.com/synesthesia-it/Boomerang.git&quot;
    pod &apos;pop&apos;
    pod &apos;BonMot&apos;
    pod &apos;MBProgressHUD&apos;
    pod &apos;SpinKit&apos;
    pod &apos;Fabric&apos;
    pod &apos;Crashlytics&apos;
    pod &apos;SnapKit&apos;, &apos;~&gt; 3.0.2&apos;
    pod &apos;ActiveLabel&apos;
    pod &apos;Localize-Swift&apos;
    pod &apos;DateToolsSwift’
    pod &apos;Action&apos;, :git =&gt; &quot;https://github.com/RxSwiftCommunity/Action.git&quot;
    pod &apos;MZFormSheetPresentationController&apos;
    pod &apos;Moya&apos;
    pod &apos;AlamofireImage&apos;
    pod &apos;Hero&apos;
end

target &apos;MyTest&apos; do
  # Comment the next line if you&apos;re not using Swift and don&apos;t want to use dynamic frameworks
  use_frameworks!
  shared_pods
end

</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:pod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Base.lproj/Main.storyboard</string>
		<string>Image+Themes.swift</string>
		<string>Utilities.swift</string>
		<string>Model.swift</string>
		<string>Operators.swift</string>
		<string>SeparatorLayout.swift</string>
		<string>ViewControllerCommons.swift</string>
		<string>Router+Preview.swift</string>
		<string>Router+Safari.swift</string>
		<string>ViewModelFactory.swift</string>
		<string>ViewFactory.swift</string>
		<string>Router.swift</string>
		<string>Info.plist</string>
		<string>AppDelegate.swift</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>it.synesthesia.boomerang.template</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provide a starting point for a Boomerang Project.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Definitions</key>
	<dict>
		<key>Image+Themes.swift</key>
		<dict>
			<key>Path</key>
			<string>Image+Themes</string>
			<key>Group</key>
			<string>Utilities</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>Operators.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>Operators.swift</string>
			<key>SortOrder</key>
			<integer>72</integer>
		</dict>
		<key>SeparatorLayout.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>SeparatorLayout.swift</string>
			<key>SortOrder</key>
			<integer>75</integer>
		</dict>
		<key>Model.swift</key>
		<dict>
			<key>Group</key>
			<string>Model</string>
			<key>SortOrder</key>
			<integer>10</integer>
		</dict>
		<key>ViewModelFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factory</string>
			<key>Path</key>
			<string>ViewModelFactory.swift</string>
			<key>SortOrder</key>
			<integer>20</integer>
		</dict>
		<key>ViewFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factory</string>
			<key>Path</key>
			<string>ViewFactory.swift</string>
			<key>SortOrder</key>
			<integer>21</integer>
		</dict>
		<key>Utilities.swift</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>Utilities.swift</string>
			<key>SortOrder</key>
			<integer>70</integer>
		</dict>
		<key>Router.swift</key>
		<dict>
			<key>Group</key>
			<string>Router</string>
			<key>Path</key>
			<string>Router.swift</string>
			<key>SortOrder</key>
			<integer>30</integer>
		</dict>
		<key>Router+Preview.swift</key>
		<dict>
			<key>Group</key>
			<string>Router</string>
			<key>Path</key>
			<string>Router+Preview.swift</string>
			<key>SortOrder</key>
			<integer>31</integer>
		</dict>
		<key>Router+Safari.swift</key>
		<dict>
			<key>Group</key>
			<string>Router</string>
			<key>Path</key>
			<string>Router+Safari.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewControllerCommons.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>100</string>
			<key>Path</key>
			<string>ViewControllerCommons.swift</string>
			<key>Group</key>
			<string>ViewControllers</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
