<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>WithPodfile</string>
			<key>Name</key>
			<string>Include Podfile</string>
			<key>Description</key>
			<string>Adds standard Podfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:pod</key>
						<string># Uncomment the next line to define a global platform for your project
 platform :ios, &apos;9.0&apos;

def shared_pods
    use_frameworks!
    inhibit_all_warnings!
    pod &apos;Boomerang&apos;, :git =&gt; &quot;https://github.com/synesthesia-it/Boomerang.git&quot;, :branch =&gt; &quot;master&quot;
    pod &apos;pop&apos;
    pod &apos;BonMot&apos;
    pod &apos;MBProgressHUD&apos;
    pod &apos;SpinKit&apos;
    pod &apos;Fabric&apos;
    pod &apos;Crashlytics&apos;
    pod &apos;SnapKit&apos;
    pod &apos;Localize-Swift&apos;
    pod &apos;DateToolsSwift&apos;
    pod &apos;Moya/RxSwift&apos;
    pod &apos;AlamofireImage&apos;
    pod &apos;Gloss&apos;
end

target &apos;___PROJECTNAME___&apos; do
  # Comment the next line if you&apos;re not using Swift and don&apos;t want to use dynamic frameworks
  use_frameworks!
  shared_pods
end
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:pod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WithGemfile</string>
			<key>Name</key>
			<string>Include Gemfile</string>
			<key>Description</key>
			<string>Adds standard Gemfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Gemfile:pod</key>
						<string>source &quot;https://rubygems.org&quot;

gem &quot;fastlane&quot;
gem &quot;cocoapods&quot;, &apos;~&gt; 1.5&apos;
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Gemfile:pod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>AppDelegate.swift</string>
		<string>Extensions/Observable+Gloss.swift</string>
		<string>Extensions/Response+Gloss.swift</string>
		<string>Extensions/Rx+Operators.swift</string>
		<string>Model/DataManager.swift</string>
		<string>Model/Errors.swift</string>
		<string>Router/Router.swift</string>
		<string>Router/Router+Alert.swift</string>
		<string>Router/Router+Preview.swift</string>
		<string>Router/Router+Safari.swift</string>
		<string>Router/Router+Utilities.swift</string>
		<string>Style/SeparatorLayout.swift</string>
		<string>Style/UIImage+Utilities.swift</string>
		<string>Core/UIView+Utilities.swift</string>
		<string>Core/ImageDownloader.swift</string>
		<string>Core/UIViewController+Utilities.swift</string>
		<string>Core/ViewModel+Selection.swift</string>
		<string>Core/ViewController+Selection.swift</string>
		<string>ViewControllers/NavigationController.swift</string>
		<string>ViewControllers/Splash/SplashViewController.swift</string>
		<string>ViewControllers/Splash/SplashViewController.xib</string>
		<string>ViewControllers/Splash/SplashViewModel.swift</string>
		<string>ViewFactory/View.swift</string>
		<string>ViewFactory/Scene.swift</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication.murray</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provide a starting point for a Boomerang Project</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
			<key>SortOrder</key>
			<integer>1</integer>
		</dict>
		<key>Extensions/Observable+Gloss.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Observable+Gloss.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Extensions/Response+Gloss.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Response+Gloss.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Extensions/Rx+Operators.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Rx+Operators.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Model/DataManager.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Model/DataManager.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Model/Errors.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Model/Errors.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Router/Router.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Router/Router+Alert.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router+Alert.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Router/Router+Preview.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router+Preview.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Router/Router+Safari.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router+Safari.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Router/Router+Utilities.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router+Utilities.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Style/SeparatorLayout.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Style</string>
			</array>
			<key>Path</key>
			<string>Style/SeparatorLayout.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Style/UIImage+Utilities.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Style</string>
			</array>
			<key>Path</key>
			<string>Style/UIImage+Utilities.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Core/UIView+Utilities.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
			<key>Path</key>
			<string>Core/UIView+Utilities.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Core/ImageDownloader.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
			<key>Path</key>
			<string>Core/ImageDownloader.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Core/UIViewController+Utilities.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
			<key>Path</key>
			<string>Core/UIViewController+Utilities.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Core/ViewModel+Selection.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
			<key>Path</key>
			<string>Core/ViewModel+Selection.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>Core/ViewController+Selection.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
			<key>Path</key>
			<string>Core/ViewController+Selection.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewControllers/NavigationController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/NavigationController.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewControllers/Splash/SplashViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>Splash</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/Splash/SplashViewController.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewControllers/Splash/SplashViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>Splash</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/Splash/SplashViewController.xib</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewControllers/Splash/SplashViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>Splash</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/Splash/SplashViewModel.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewFactory/View.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewFactory</string>
			</array>
			<key>Path</key>
			<string>ViewFactory/View.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
		<key>ViewFactory/Scene.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewFactory</string>
			</array>
			<key>Path</key>
			<string>ViewFactory/Scene.swift</string>
			<key>SortOrder</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>
